:host {
  position: relative;
  transform: translateX(-50%);
  text-align: center;

  div.dialog {
    position: relative;
    // width: 420px;
    padding: 12px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 4px;
    z-index: 100;
    background-color: white;

    div.title {
      display: flex;
      text-align: left;
      align-items: center;
      font-size: 18px;
      span.highlight {
        color: #3e7cff;
      }
      img {
        margin-left: 10px;
        height: 36px;
      }
    }

    div.divider {
      background-color: #00000024;
      width: 100%;
      height: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    div.action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span.refresh {
        cursor: pointer;
      }
      button.confirm {
        width: 120px;
        height: 40px;
        letter-spacing: 2px;
        text-align: center;
        padding: 9px 15px;
        font-size: 15px;
        border-radius: 5px;
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        color: #fff;
        background-color: #409eff;
        border: 1px solid #409eff;
        border-top-color: rgb(64, 158, 255);
        border-right-color: rgb(64, 158, 255);
        border-bottom-color: rgb(64, 158, 255);
        border-left-color: rgb(64, 158, 255);
        -webkit-appearance: none;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        transition: 0.1s;
        font-weight: 500;
        -moz-user-select: none;
        -webkit-user-select: none;

        &:hover {
          background: #66b1ff;
          border-color: #66b1ff;
          color: #fff;
        }
      }
    }
  }
  div.arrow {
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    left: 50%;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 2px 2px 0px #0000001f;
  }
}
